In [8]:
import pandas as pd
import pandas as pd
import sqlalchemy
from sqlalchemy import types

In [9]:
# Connect to MySQL
engine = sqlalchemy.create_engine("mysql+pymysql://root:anukool@localhost:3306/godrej_estac")

In [2]:
df = pd.read_csv('./estac_records.csv')

In [3]:
df.head()

           device_time  humidity  temperature
0  2025-10-05 00:05:20      80.9         27.0
1  2025-10-05 00:05:33      80.9         27.0
2  2025-10-05 00:05:47      80.9         27.0
3  2025-10-05 00:06:00      80.9         27.0
4  2025-10-05 00:06:14      80.9         27.0

In [4]:
df.describe()

            humidity    temperature
count  114994.000000  114994.000000
mean       73.712502      27.852491
std         5.879925       1.924404
min        43.300000      22.400000
25%        69.900000      26.600000
50%        73.700000      28.200000
75%        76.800000      29.200000
max        94.800000      32.200000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114994 entries, 0 to 114993
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   device_time  114994 non-null  object
 1   humidity     114994 non-null  float64
 2   temperature  114994 non-null  float64
dtypes: float64(2), object(1)
memory usage: 2.6+ MB

In [6]:
df['device_time'] = pd.to_datetime(df['device_time'])

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114994 entries, 0 to 114993
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   device_time  114994 non-null  datetime64[ns]
 1   humidity     114994 non-null  float64
 2   temperature  114994 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 2.6 MB

In [10]:
# Upload DataFrame to SQL
df.to_sql(
    name="estac_data",
    con=engine,
    if_exists="append",
    index=False,
    dtype={
        "device_time": types.DateTime(),
        "humidity": types.Numeric(5,2),
        "temperature": types.Numeric(5,2)
    }
)

print("Data inserted successfully!")

Data inserted successfully!